In [ ]:
a = 'C,B,A'
b = ['F','G','H']
c = a.split(',')
c.extend(b)
c[0]='K'
d=c.pop(2)
print(d)
del c[1:4]
c.append('U')
print(c)

A
['K', 'H', 'U']

In [ ]:
a = str(input('輸入一個八位數:'))
str(a)
print(a[4])

輸入一個八位數:12345678
5

In [ ]:
a = 'My ID is B1202033'
b = a.split(' ')
print(len(b))
c =b.pop(3)
print(len(c))

4
8

In [2]:
a = "I'm a student"
b = a.split(" ")
c = b[0]
d = c.split("'")
e = d[1]
print(e)

m